<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>447041223337-ihrndqdi6ieleldnbjerbrapk3fkr6q3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447041223337-ihrndqdi6ieleldnbjerbrapk3fkr6q3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>447041223337-0ciuk99ou4bc3aq4lrd1qfaj8ohj5fai.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBzQds14yERwU3zWjGW7glxi1KqC1aPY-M</string>
	<key>GCM_SENDER_ID</key>
	<string>447041223337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aqarcoom.userapp</string>
	<key>PROJECT_ID</key>
	<string>aqarcom-broker</string>
	<key>STORAGE_BUCKET</key>
	<string>aqarcom-broker.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447041223337:ios:ef6c46b11ec262d97047b8</string>
</dict>
</plist>